.Portal{
overflow: hidden;
border-radius: 50%;
height: 300px;
width: 300px;
display: flex;
justify-content: center;
box-shadow: 0 0 20px white;
}

body{

height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background:radial-gradient(circle,blue,black);
}

.Portal:hover img{
    transform: scale(1.5);
}
.Scrolltext{
    margin-top: 25px;
    height: 50px;
    width: 200px;
    border: 50px;
    overflow: scroll;

}
